.wrapper {
    display:flex;
    justify-content: center;
    width:100vw;
    height:100vh;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button {
    padding: 10px 20px;
    background:#af780a ;
    color:#ffffff;
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
}

.Accordion {
    width:500px;
}

.item {
    background: #af780a;
    margin-top: 10px;
    padding:10px 20px 
}

.title {
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color:#ffffff;
    height: auto;
}