.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.btns{
  display: flex;
  justify-content: center;

}
 /* From Uiverse.io by Navarog21 */ 
.btn{
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.btn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
  transform-origin: center;
}

.btn::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
}

.btn:hover::before, .btn:hover::after {
  transform: scale(0)
}

.btn:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
.color-txt {
  color:White;
  font-size:60px;
  margin-top:50px;
}